
@{
    ViewData["Title"] = "Reservation";
    Layout = "~/Views/_Layout.cshtml";
}

<h1 class="text-center">Benzin İstasyonları</h1>
<div class="col">
    <div class="card mb-3 justify-content-center col-md-12" style="max-width: 840px; margin-left: 150px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://upload.wikimedia.org/wikipedia/tr/e/ed/Petrol_Ofisi_Logosu.png" class="card-img" alt="..." style="height: 100%; width: 100%;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Petrol Ofisi</h5>
                    <table class="table table-bordered"> 
                        <thead>
                        <tr>
                            <th>Yakıt Tipleri</th>
                            <th>Market</th>
                            <th>Araç Yıkama</th>
                            <th>Adres</th>
                            <th>Telefon</th>
                            <th>Mail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Kurşunlu,Kurşunsuz,LPG</td>
                            <td>Var</td>
                            <td>Var</td>
                            <td> MUSTAFA KEMAL MAHALLESİ ÖZDEMİR SK. NAZARLAR PETROL APT. NO:61/Z01, Turgutlu/Manisa</td>
                            <td>0 555 555 55 55</td>
                            <td>aaaaaa@gmail.com</td>

                        </tr>
                        </tbody>
                    </table>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

