@model TheEye.Entities.Concrete.CarPark
@{
    Layout = "AdminSite/_AdminLayout";
    ViewBag.Title = "Otopark İşlemleri";
}

<div class="card-header">
    <h5 class="title">Otopark İçerik Güncelleme</h5>
</div>
<div class="card-body">
    <form asp-controller="CarPark" asp-action="CarParkOptionsCrud" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CarParkMax">Otopark Kapasitesi:</label>
                    <input asp-for="CarParkMax" type="text" class="form-control" placeholder="Otopark Kapasitesi" required="" name="CarParkMax">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CarParkNull">Otopark Kat Sayisi:</label>
                    <input asp-for="CarParkNull" type="text" class="form-control" placeholder="Otopark Kat Sayisi" required="" name="CarParkNull">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CarParkDisabled"> Otopark Engelli Alanı :</label>
                    <select class="form-control" asp-for="CarParkDisabled" aria-item name="CarParkDisabled">
                        <option value="true">Var</option>
                        <option value="false">Yok</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CarParkWashing"> Otopark Yıkama Alanı :</label>
                    <select class="form-control" asp-for="CarParkWashing" name="CarParkWashing">
                        <option value="true">Var</option>
                        <option value="false">Yok</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CarParkTire"> Otopark Tekerlek Değiştirme :</label>
                    <select class="form-control" asp-for="CarParkTire" name="CarParkTire">
                        <option value="true">Var</option>
                        <option value="false">Yok</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CarParkMarket"> Otopark Marketi :</label>
                    <select class="form-control" asp-for="CarParkMarket" name="CarParkMarket">
                        <option value="true">Var</option>
                        <option value="false">Yok</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <input type="hidden" asp-for="CarParkId" name="CarParkId" />
            <input type="hidden" asp-for="CompanyId" name="CompanyId" />
            <div class="col-md-4">
                <button class="btn btn-primary btn-block" value="CarParkOparation"> Otopark Ekle </button>
            </div>
        </div>

    </form>
</div>