@model List<TheEye.Entities.Concrete.CarPark>
@{
    ViewBag.Title = "OTOPARK LİSTESİ";
}

@await Html.PartialAsync("MainSite/_Banner")
<div class="container">
    <br />
    <div class="input-group mb-3">
        <input id="input-text" type="text" class="form-control" placeholder="Arama Yap..." aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
    @foreach (var item in Model)
    {
        <div class="card mb-3" style="max-width: 1540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="~/images/carpark.jpg"
                         class="card-img"
                         height="100%"
                         alt="..." />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.Company.CompanyName</h5>
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Market</th>
                                        <th scope="col">Araç Yıkama</th>
                                        <th scope="col">Boş Park Yeri Sayısı</th>
                                        <th scope="col">Engelli Araç Parkı</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @if (item.CarParkMarket)
                                        {
                                            <td>Var</td>
                                        }
                                        else
                                        {
                                            <td>Yok</td>
                                        }

                                        @if (item.CarParkWashing)
                                        {
                                            <td>Var</td>
                                        }
                                        else
                                        {
                                            <td>Yok</td>
                                        }
                                        <td>@item.CarParkMax</td>
                                        @if (item.CarParkDisabled)
                                        {
                                            <td>Var</td>
                                        }
                                        else
                                        {
                                            <td>Yok</td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @*<p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                        <button type="button" class="btn btn-primary btn-sm">
                            Otopark Detayı
                        </button>*@
                        <br />
                        <br />
                        @{
                            var max = item.CarParkMax;
                            var nul = item.CarParkNull;
                            var yuzde = nul * 100 / max;
                        }
                        Doluluk Oranı
                        <div class="progress">
                            <div class="progress-bar bg-success"
                                 role="progressbar"
                                 style="width: @yuzde%"
                                 aria-valuenow="@yuzde"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                @yuzde%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>