@model TheEye.WebUl.Models.LoginViewModel
<form class="form-inline my-2 my-lg-0">
    <button type="button" class="btn btn-success btn--radius" data-toggle="modal" data-target=".bd-example-modal-lg">Giriş Yap</button>
</form>

<div class="modal fade bd-example-modal-lg" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card card-1">
                <div class="card-heading"> </div>
                <div class="card-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["Message"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <h2 class="title">Giriş Yap</h2>
                    <form asp-controller="Account" asp-action="Login" method="POST">
                        <div class="login-input-group">
                            <input asp-for="UserName" class="input--style-1 login-input" type="text" placeholder="Kullanıcı Adı" name="UserName">
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="login-input-group">
                            <input asp-for="Password" class="input--style-1 login-input" type="text" placeholder="Şifre" name="Password">
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="row">
                            <div class="p-t-20 text-left col-md-6">
                                <p class="text-muted">
                                    <a href="#" class="text-reset">Şifremi Unuttum</a>.
                                </p>
                            </div>
                            <div class="p-t-20 text-right col-md-6">
                                <a href="#" class="card-link text-left pr-5">Kayıt Ol</a>
                                <button class="btn btn--radius btn-success" type="submit" value="login">Giriş Yap</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>