@model TheEye.Entities.Concrete.PetrolStation

@{
    ViewBag.Title = "Petrol Ofisi İşlemleri";
    Layout = "AdminSite/_AdminLayout";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Petrol İçerik Güncelleme</h5>
                </div>
                <div class="card-body">
                    <form asp-controller="PetrolStation" asp-action="PetrolStationOparationCrud" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="PetrolFuelType">Yakıt Türleri:</label>
                                    <input asp-for="PetrolFuelType" type="text" class="form-control" placeholder="Otopark Kapasitesi" required="" name="PetrolFuelType">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="PetrolTire"> Tekerlek Değiştirme :</label>
                                    <select class="form-control" asp-for="PetrolTire" aria-item name="PetrolTire">
                                        <option value="true">Var</option>
                                        <option value="false">Yok</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="PetrolWashing"> Petrol Ofisi Yıkama Alanı :</label>
                                    <select class="form-control" asp-for="PetrolWashing" name="PetrolWashing">
                                        <option value="true">Var</option>
                                        <option value="false">Yok</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="PetrolMarkets"> Petrol Ofisi Marketi :</label>
                                    <select class="form-control" asp-for="PetrolMarkets" name="PetrolMarkets">
                                        <option value="true">Var</option>
                                        <option value="false">Yok</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                            <input type="hidden" asp-for="PetrolId" name="PetrolId" />
                            <input type="hidden" asp-for="CompanyId" name="CompanyId" />
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-block" value="PetrolOparation"> İçerik Güncelle </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

