<footer>
    <div class="container-fluid" style="background-color:#f5f5f5">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <tittle class="desc">kadir</tittle>
                    <p class="desc">otopark işlemleri merhabalar aq biz eye</p>
                </div>
                <div class="col-4">
                    <tittle class="mail">Site Linkleri</tittle>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>heloooo</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>heloooo</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>heloooo</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>heloooo</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>heloooo</li>
                    </ul>
                </div>

                <div class="col-4">
                    <tittle class="mail">MAİL LİSTEMİZE KATILIN</tittle>
                    <p class="mail">Mail Listeize katılın canımız olu n ciğerimiz olun oy canunuzu yerlm balları</p>
                    <input type="text" class="form-control" placeholder="E-Mail Adresi " required>
                    <button class="btn btn-primary btn-lg btn-block"> Listeye Katıl </button>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p>powered by EyeON </p>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </div>
</footer>