<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/AdminStyle.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />

</head>
<body>

    <div class="page-container">
        <div class="left-content">
            <div>
                <div class="header-section">
                    <div>
                        <div class="profile_details_left">
                            <ul class="nofitications-dropdown">
                                <li class="dropdown note">
                                    <a href="#" aria-expanded="false"><i class="fas fa-envelope"></i> <span class="badge">3</span></a>
                                </li>

                                <li class="dropdown note">
                                    <a href="#" aria-expanded="false"><i class="fas fa-bell"></i> <span class="badge">5</span></a>
                                </li>
                                <li class="dropdown note">
                                    <a href="#" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="badge blue">9</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="outter-wp">
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <header class="logo">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#">
                    <span id="logo"><h1>Eye On</h1></span>
    <!--<img id="logo" src="" alt="Logo"/>-->
</a>
            </header>
            <div class="down">
                <a href="#"><img src="images/admin.jpg"></a>
                <a href="#"><span class=" name-caret">Jasmin Leo</span></a>
                <p>System Administrator in Company</p>
                <ul>
                    <li><a class="tooltips" href="#"><span>Profile</span><i class="fas fa-user"></i></a></li>
                    <li><a class="tooltips" href="#"><span>Settings</span><i class="fas fa-cog"></i></a></li>
                    <li><a class="tooltips" href="#"><span>Log out</span><i class="fas fa-power-off"></i></a></li>
                </ul>
            </div>
            <div class="menu">
                <ul id="menu">
                    <li><a href="#"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
                    <li id="menu-academico">
                        <a href="#"><i class="fa fa-table"></i> <span> Tabs &amp; Panels</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                        <ul id="menu-academico-sub">
                            <li><a href="#"> Tabs &amp; Panels</a></li>
                            <li><a href="#">Widgets</a></li>
                            <li><a href="#">Calendar</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    
</body>
</html>