@model TheEye.Entities.Concrete.Medicine

@{
    ViewBag.Title = "title";
    Layout = "AdminSite/_AdminLayout";
}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="forms-main">
                <div class="graph-form">
                    <div class="validation-form">
                        <form asp-controller="Pharmacy" asp-action="PharmacyOparationCrud" method="post">
                            <h2 class="inner-tittle">İlaç Ekleme</h2>
                            <div class="vali-form">
                                <div class="col-md-12 form-group1">
                                    <label asp-for="MedicineName" class="control-label">İlaç Adı:</label>
                                    <input asp-for="MedicineName" type="text" placeholder="İlaç Adı" required name="MedicineName">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="clearfix"> </div>
                            <div class="vali-form">
                                <div class="col-md-6 form-group1">
                                    <label asp-for="MedicinePiece" class="control-label"> İlaç Parçası:</label>
                                    <input asp-for="MedicinePiece" type="text" placeholder="İlaç Parçası" required name="MedicinePiece">
                                </div>
                                <div class="col-md-6 form-group1">
                                    <label asp-for="MedicineType" class="control-label">İlaç Tipi:</label>
                                    <input asp-for="MedicineType" type="text" placeholder="İlaç Tipi" required name="MedicineType">
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                            <div class="col-md-12 form-group1 ">
                                <label asp-for="MedicinePrescription" class="control-label">İlaç Reçetesi:</label>
                                <textarea asp-for="MedicinePrescription" placeholder="İlaç Reçetesi:" required name="MedicinePrespriction"></textarea>
                            </div>
                            <div class="clearfix"> </div>
                            <div class="col-md-12 form-group button-2 text-right">
                                <button type="submit" class="btn btn-primary" value="addPharmacy">Ekle</button>
                                <button type="reset" class="btn btn-default">Sıfırla</button>
                            </div>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
