@model TheEye.Entities.Concrete.Medicine
@{
    ViewBag.Title = "İlaç İşlemleri";
    Layout = "AdminSite/_AdminLayout";
}

<div class="card-header">
    <h5 class="title">Eczaneye İlaç Ekleme </h5>
</div>
<div class="card-body">
    <form asp-controller="Medicine" asp-action="MedicineOparationCrud" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="MedicineName">İlaç Adı:</label>
                    <input asp-for="MedicineName" name="MedicineName" type="text" class="form-control" placeholder="İlaç Adı" required="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MedicinePiece">İlaç Adet:</label>
                    <input asp-for="MedicinePiece" name="MedicinePiece" type="text" class="form-control" placeholder="İlaç Adet" required="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MedicineType">İlaç Tipi:</label>
                    <input asp-for="MedicineType" name="MedicineType" type="text" class="form-control" placeholder="İlaç Tipi" required="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="MedicinePrescription">İlaç Bilgi:</label>
                    <input asp-for="MedicinePrescription" name="MedicinePrescription" type="text" class="form-control" placeholder="İlaç Bilgi" required="">
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="CompanyId"/>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-block"> İlaç Ekle </button>
            </div>
        </div>
    </form>
</div>