.social {
    padding: 25px;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #ffc107 !important;
}

.bg-soft-dark {
    background-color: #21252900;
}

.fa-user {
    color: #007bff;
    font-size: 25px;
}

body, .bg-light, .page-footer {
    /*height: 100%;*/
    background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
}

.navigation {
    font-weight: 700 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
    padding: 50px;
}

.account {
    margin-left: 200px;
}