@model TheEye.Entities.Concrete.Company

@{
    ViewBag.Title = "title";
    Layout = "AdminSite/_AdminLayout";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="forms-main">
                <h2 class="inner-tittle">Otopark Ekleme</h2>
                <div class="graph-form">
                    <div class="validation-form">
                        <form asp-controller="Company" asp-action="CompanyOparationCrud" method="post">
                            <div class="vali-form">
                                <div class="col-md-12 form-group1">
                                    <label asp-for="CompanyName" class="control-label">Firma Adı:</label>
                                    <input asp-for="CompanyName" type="text" placeholder="Otopark Adı" required name="CompanyName">
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                            <div class="vali-form">
                                <div class="col-md-6 form-group1">
                                    <label asp-for="CompanyPhone" class="control-label">Telefon:</label>
                                    <input asp-for="CompanyPhone" type="text" placeholder="Otopark Telefon" required name="CompanyPhone">
                                </div>
                                <div class="col-md-6 form-group1">
                                    <label asp-for="CompanyMail" class="control-label">Mail:</label>
                                    <input asp-for="CompanyMail" type="text" placeholder="Otopark Mail" required name="CompanyMail">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="clearfix"> </div>
                            <div class="col-md-12 form-group1 ">
                                <label asp-for="CompanyAdress" class="control-label">Adres:</label>
                                <textarea asp-for="CompanyAdress" type="text" placeholder="Otopark Adres" required name="CompanyAdress"></textarea>
                            </div>
                            <div class="clearfix"></div>
                            <div class="vali-form">
                                <div class="col-md-6 form-group1">
                                    <label asp-for="CompanyCity" class="control-label">İl:</label>
                                    <input asp-for="CompanyCity" type="text" placeholder="Otoparkın Bulunduğu İl" required name="CompanyCity">
                                </div>
                                <div class="col-md-6 form-group1 form-last">
                                    <label asp-for="CompanyDistrict" class="control-label">İlçe:</label>
                                    <input asp-for="CompanyDistrict" type="text" placeholder="Otoparkın Bulunduğu İlçe" required name="CompanyDistrict">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="col-md-8 form-group button-2 text-right">
                                <input type="hidden" asp-for="CompanyId" />
                                <button type="submit" class="btn btn-primary" value="AddCarPark">Kaydet</button>
                                <button type="reset" class="btn btn-default">Sıfırla</button>
                            </div>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>