@{
    ViewBag.Title = "Hakkımızda";
}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Profiles/ismetkizgin.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">İSMET KİZGİN</p>
                        <p>İLetişim : </p>
                        <a class="" href="mailto:ismetkizgin@hotmail.com">ismetkizgin@hotmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"> </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Profiles/alihanakcam.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">ALİHAN AKÇAM</p>
                        <p>İLetişim : </p>
                        <a class="" href="mailto:alihanakcm@gmail.com">ismetkizgin@hotmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Profiles/iremcelikbilek.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">İREM ÇELİKBİLEK</p>
                        <p>İLetişim : </p>
                        <a class="" href="mailto:iremcelikbilek35@gmail.com">ismetkizgin@hotmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"> </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Profiles/kadircankarademir.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">KADİR CAN KARADEMİR</p>
                        <p>İLetişim : </p>
                        <a class="" href="mailto:kadircankarademir@hotmail.com">ismetkizgin@hotmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
