<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    @{ var title = (ViewBag.Title.ToString()).ToUpper();}
                    @title
                            </h1>
            </div>
        </div>
    </div>
</div>