<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="mt-5 col-4">
                    <h1 style="padding: 5px">HAKKIMIZDA</h1>
                    <p style="padding: 5px">EyeON Proje geliştirme grubu olarak günümüzde yükse ilgi gören ve gelecekte 
                    tamamen yer edineceğini düşündüğümüz akıllı şehir sistemleri geliştirmekteyiz.</p>
                    <p>Manisa Celal Bayar Üniversitesi Hasan Ferdi Turgutlu Teknolojş Fakültesi</p>
                </div>
                <div class="mt-5 col-4">
                    <h1>HAZIRLAYANLAR</h1>
                    <ul class="list-unstyled">
                        <li style="padding: 5px"><i class="fa fa-angle-right" aria-hidden="true"></i> İsmet KİZGİN</li>
                        <li style="padding: 5px"><i class="fa fa-angle-right" aria-hidden="true"></i> Alihan AKÇAM</li>
                        <li style="padding: 5px"><i class="fa fa-angle-right" aria-hidden="true"></i> İrem ÇELİKBİLEK</li>
                        <li style="padding: 5px"><i class="fa fa-angle-right" aria-hidden="true"></i> Kadir Can KARADEMİR</li>
                    </ul>
                </div>

                <div class="mt-5 mb-5 col-4" style="padding:inherit">
                    <h1 style="padding: 5px">MAİL LİSTEMİZE KATILIN</h1>
                    <p style="padding: 5px">Mail Listemize Katılarak Bizimle Birlikte Çalışabilirsiniz.</p>
                    <input type="text" class="form-control" placeholder="E-Mail Adresi " required> <br />
                    <button class="btn btn-primary btn-lg btn-block"> Listeye Katıl </button>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>powered by &copy; EyeON </p>
                </div>
            </div>
        </div>
    </div>
</footer>
