<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="mt-5 col-4">
                    <h1 style="padding: 5px">kadir</h1>
                    <p style="padding: 5px">otopark işlemleri merhabalar aq biz eye</p>
                </div>
                <div class="mt-5 col-4">
                    <h1>Site Linkleri</h1>
                    <ul class="list-unstyled">
                        <li style="padding: 5px"><i class="fa fa-angle-right" aria-hidden="true"></i>heloooo</li>
                        <li style="padding: 5px"><i class="fa fa-angle-right" aria-hidden="true"></i>heloooo</li>
                        <li style="padding: 5px"><i class="fa fa-angle-right" aria-hidden="true"></i>heloooo</li>
                        <li style="padding: 5px"><i class="fa fa-angle-right" aria-hidden="true"></i>heloooo</li>
                        <li style="padding: 5px"><i class="fa fa-angle-right" aria-hidden="true"></i>heloooo</li>
                    </ul>
                </div>

                <div class="mt-5 mb-5 col-4" style="padding:inherit">
                    <h1 style="padding: 5px">MAİL LİSTEMİZE KATILIN</h1>
                    <p style="padding: 5px">Mail Listeize katılın canımız olu n ciğerimiz olun oy canunuzu yerlm balları</p>
                    <input type="text" class="form-control" placeholder="E-Mail Adresi " required> <br />
                    <button class="btn btn-primary btn-lg btn-block"> Listeye Katıl </button>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>powered by &copy; EyeON </p>
                </div>
            </div>
        </div>
    </div>
</footer>
