
<header>
    <div class="content_header">
        <div class="container">
            <div class="row text-muted">
                <div class="col-md-6 align-md-center align-sm-center">
                    <i class="fa fa-phone"></i>
                    <span class="mobile-phone">
                        <a class="text-muted" href="tel:+905393834430"> 539 383 44 30</a>
                    </span>

                    <span class="desktop-phone"> 539 383 44 30</span>
                </div>

                <div class="col-md-6 align-md-center align-sm-center">
                    <i class="fas fa-envelope"></i> <a class="text-muted" href="mailto:ismetkizgin@hotmail.com">ismetkizgin@hotmail.com</a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse px-3" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a asp-controller="Home" asp-action="index" class="nav-item nav-link">Anasayfa</a>
                    <a asp-controller="CarPark" asp-action="CarPark" class="nav-item nav-link pl-3">Otopark</a>
                    <a asp-controller="PetrolStation" asp-action="PetrolStation" class="nav-item nav-link pl-3">Petrol Ofisi</a>
                    <li class="nav-item dropdown px-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Eczane
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Pharmacy" asp-action="Pharmacy">Eczaneler</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Medicine" asp-action="Medicine">İlaçlar</a>
                        </div>
                    </li>
                    <a asp-controller="Home" asp-action="About" class="nav-item nav-link pl-3">Hakkımızda</a>
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0" method="post">
                <a asp-controller="Account" asp-action="Login" type="button" class="btn btn-success btn-round btn-ouutline-success">Giriş Yap</a>
            </form>
        </div>
    </nav>

</header>